:root {
  --main-bg-color: #e8e8e8;
  --header-bg: #13161a;
  --body-font: "Avenir", Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: var(--header-bg);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 100px;
}

.header_content img {
  width: auto;
  height: 60px;
  display: inline-block;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  background-color: var(--main-bg-color);
  margin: 0;
  padding-top: 60px;
  transition: background-color 0.3s ease;
}

/** Nav **/

.nav {
  transition: all 0.3s ease-in-out;
}

.nav_list {
  list-style: none;
  display: flex;
  column-gap: 20px;
}

.nav_link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 20px;
  transition: all 0.4s;
  text-decoration: none;
}

.nav_link:hover,
.nav_link:focus {
  color: rgba(255, 255, 255, 1);
}

.active {
  color: rgba(255, 255, 255, 1);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  height: 2px;
  width: 27px;
  background: #fff;
  margin: 5px 0;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.nav_open {
  transform: translate(0) !important;
}

.hamburger_open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.hamburger_open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger_open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/** Carousel */

.carousel {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  display: block;
  margin: 0 auto;
  width: 2200px;
  max-width: 100%;
  height: 800px;
  max-height: 100%;
  object-fit: contain;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
  outline: none;
}

.indicator.active {
  background-color: black;
}

.carousel-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -1.5em 0.3em 0 0.3em;
  padding: 1em;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  transition: 0.3s ease;
  border-radius: 0.5em;
  user-select: none;
  background-color: var(--header-bg);
}

.carousel-arrow.prev {
  left: 10px;
}

.carousel-arrow.next {
  right: 10px;
}

.carousel-arrow:hover {
  box-shadow: 0 0 5px #fff;
  border: 5px solid silver;
}

/** section about */

.sec-detail {
  height: auto;
  min-height: unset;
  display: flex;
  margin: 200px 100px 0 100px;
}

.sec-item {
  display: flex;
  height: auto;
  min-height: unset;
  margin: 0 100px;
}

.detail-desc {
  padding: 10px;
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-desc p {
  text-align: start;
  margin: 10px;
  font-size: 32px;
  font-family: var(--body-font);
}

.grid-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  height: auto;
}

.card-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #000;
  border-radius: 25px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  height: auto;
}

.card-detail:hover {
  box-shadow: 0 0 10px rgba(253, 253, 253, 0.3), 0 0 20px rgba(0, 0, 0, 0.2),
    0 0 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.item-detail {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-detail p {
  color: gray;
  font-size: 20px;
  text-align: center;
  font-family: var(--body-font);
}

.icon {
  width: 60px;
  text-align: center;
  flex-direction: row;
  margin: 20px;
}

/** About us */

.about-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 600px auto 0 auto;
  padding: 120px;
}

.border {
  height: 469px;
  width: 390px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  height: auto;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("img/team2.png") center center no-repeat;
  background-size: 400px;
}

.card0:hover {
  background: url("img/team2.png") left center no-repeat;
  background-size: 500px;
}

.card0:hover h2 {
  opacity: 1;
}

.card0:hover h3 {
  opacity: 1;
}

.card0:hover .fab {
  opacity: 1;
}

.card1 {
  background: url("img/team4.png") center center no-repeat;
  background-size: 400px;
}

.card1:hover {
  background: url("img/team4.png") left center no-repeat;
  background-size: 500px;
}

.card1:hover h2 {
  opacity: 1;
}

.card1:hover h3 {
  opacity: 1;
}

.card1:hover .fab {
  opacity: 1;
}
.card2 {
  background: url("img/team5.png") center center no-repeat;
  background-size: 400px;
}
.card2:hover {
  background: url("img/team5.png") left center no-repeat;
  background-size: 500px;
}
.card2:hover h2 {
  opacity: 1;
}

.card2:hover h3 {
  opacity: 1;
}
.card2:hover .fab {
  opacity: 1;
}

.about-container h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.about-container h3 {
  font-family: var(--body-font);
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

.fab {
  opacity: 0;
  transition: opacity 1s;
}

/** Contact us */

.container-contact {
  max-width: 1200px;
  padding: 20px;
  position: relative;
  margin: 800px auto 60px auto;
}

.container-contact h2 {
  text-align: center;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

textarea {
  height: 150px;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
}

#country option[value=""] {
  display: none;
}

.button-contact button {
  padding: 10px 20px;
  width: 100%;
  background-color: #4e54c8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}

.button-contact button:hover {
  background-color: #344fa1;
}

footer {
  background-color: #152238;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}
